th{
    background-color: orange;
    color: white;
    font-style: italic;
}

#t2{
    background-color: greenyellow;
}
span{
    background-color: blue;
}
table{
    margin: auto;  
}
h1{
    margin-left: 47%;
}